[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[scripts]
start = "python3 src/index.py"
test = "pytest src"
coverage = "coverage run --branch -m pytest src"
coverage-report = "coverage html"
lint = "pylint src"
format = "autopep8 --in-place --recursive src"
[dev-packages]

[packages]
pytest = "*"
numpy = "*"
coverage = "*"
pylint = "*"
autopep8 = "*"
